body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.outer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav-bu
{
    display: flex;
    justify-content: center;
  
   


}
.nav-name
{
    display: flex;
    justify-content: space-around;

    align-items: center;
    gap:1rem;



}

.row
{
  display: flex;
  gap:20px;
  margin-bottom: 15px;
  flex-wrap: auto;
}
.input-group
{
  flex: 1;
  display: flex;
  flex-direction: column;
}
label
{
  font-weight: bold;
  margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="file"]
{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
.check
{
  display: flex;
  flex-direction: row;
  gap:10px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    vertical-align: top;
  }
  th {
    background-color: #f2f2f2;
  }
.name 
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap:10px
}
span
{
  color:red;
}
.icon button
{
  border-radius: 45%;
}
.state 
{
  padding: 7px 5px;
  
  width:170px;
  border-radius: 4px;
  color: gray;
}
